@import "helper/variables";
.container {
	background-color: $backcolor;
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	.landing_body {
		.logo_image {
			margin-left: 10vw;
			margin-top: 4vw;
		}
		.main_header {
			font-size: 50px;
			margin-left: 10vw;
			margin-top: 10vw;
		}
		.text_subtitle {
			margin-left: 10vw;
			margin-top: 3vw;
			color: $textcolor;
			font-size: 20px;
		}
	}
}
@media only screen and (max-width: 900px) {
	.container {
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}
}
